/* 毛玻璃/半透明卡片效果 (威力加强版) */
#recent-posts > .recent-post-item,
.card-widget,
#aside-content .card-widget,
#post > #post-info,
#post > #post-content,
.post-copyright {
    background: rgba(255, 255, 255, 0.85) !important;
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
}
